*
    box-sizing: border-box
    font-family: 'Ubuntu', sans-serif

$footer-height: 40px

html,
body
    height: 100%
    margin: 0 auto

#body-wrapper
    min-height: 100%
    padding-bottom: $footer-height
    position: relative

header,
article,
footer
    margin: 10px

header,
footer
    text-align: center

footer
    bottom: 0
    height: $footer-height
    left: 0
    position: absolute
    right: 0
    text-align: center

a,
a:hover,
a:visited
    color: #06c
    text-decoration: none

a p
    margin: 0

ul
    margin: 0
    padding: 0

    li
        list-style-type: none

.pipe
    margin: 0 1vw

body

    .faux-link
        display: none

    &#home-page
        #home-faux-link
            display: inline-block
        #home-link
            display: none

    &#contact-page
        #contact-faux-link
            display: inline-block
        #contact-link
            display: none

    &#about-me-page
        #about-me-faux-link
            display: inline-block
        #about-me-link
            display: none

    &#case-studies-page
        #case-studies-faux-link
            display: inline-block
        #case-studies-link
            display: none

#home-page
    article
        display: flex
        flex-direction: row

        section
            padding: 2vw
            width: 50%

            &#headshot-wrapper
                text-align: right

                #headshot
                    display: inline-block
                    margin: 0 auto
                    max-width: 300px
                    width: 100%
                    vertical-align: top

            &#links-wrapper
                p
                    margin: 1.25vw 0

@media (min-width: 700px)

    body
        marign: 0 auto
        max-width: 960px
        width: 80%

        article#main
            padding: 5vw 0

        section

            &#links-wrapper
                position: relative

                aside
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)

@media (max-width: 700px)

    body
        width: 90%

        #header
            text-align: center

            nav
                align-items: center
                display: flex
                flex-direction: row
                justify-content: center

                a
                    padding: 2.5vw

                span
                    display: none

        &#home-page
            article
                flex-direction: column

                section
                    margin: 2vw auto
                    text-align: center
                    width: 75%

                    &#headshot-wrapper

                        #headshot
                            display: block

        #footer
            text-align: center

