<section>

  <h1>$title$</h1>
    $if(published_on)$
        <h3>Published on: $published_on$</h3>
    $endif$
    $if(hero_image)$
      <img class="post-hero" src="$hero_image$" alt="$hero_image_alt$" />
    $endif$

  $if(hasDuckDbTag)$
    $partial("templates/duckdb-series-links.html")$
  $endif$

  $body$
</section>
<section>
  <h2>P.S.</h2>
  <p>If you enjoyed this post and need help exploring unconventional data sets, standing up cloud infrastructure, building self-healing systems or just making computers talk to each other, <a href="https://peterdohertys.website/contact.html">let's chat</a>!</p>
  <p>Also, if you'd like to buy me a coffee, I'm now on <a href="https://ko-fi.com/pdoherty" title="ko-fi">Ko-fi</a>! ✌️😎☕ </p>
</section>
