<h4>This post is part of my series on DuckDB:</h4>
<ul class="blog-post-series-links">
  <li>
    <a href="/blog-posts/dab-of-duck.html" title="A Dab of Duck">A Dab of Duck</a>
  </li>
  <li>
    <a href="/blog-posts/full-text-search-w-duckdb.html" title="Full-Text Search with DuckDB">Full-Text Search with DuckDB</a>
  </li>
  <li>
    <a href="/blog-posts/double-shot-of-duck.html" title="A Double Shot of DuckDB: Vector Similarity Search and Quack">A Double Shot of DuckDB: Vector Similarity Search and Quack</a>
  </li>
  <li>
    <a href="/blog-posts/the-mystery-on-duck-lake.html" title="The Mystery on DuckLake: A Time-Travelling Whodunit Story">The Mystery on DuckLake: A Time-Travelling Whodunit Story</a>
  </li>
</ul>
